@import "../../css/colors";
@import "../../css/base.scss";

.bannerOuterBox{
  width: 250px;
  height: 40px;
  @include raisedBox;
  margin-bottom: 30px;
}

.bannerInnerBox{
  @include sinkBox;
  @include full;
  @include text;
  line-height: 30px;
  text-align: center;
  font-size: 18px;
}